* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contain {
  position: relative;
  width: 500px;
  padding: 15px;
  background-color: aquamarine;
  margin: 200px auto;
}
.contain button{
    background: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 10px;
}
.contain img {
  width: 100%;
  display: block;
}
.over {
  position: absolute;
  bottom: 30px;
  right: 10px;
}
.detail{
padding: 10px;
display: none;
}
.detail p{
    padding-top: 10px 0;

}
.detail button{
    display: block;
    margin-left: auto;
}